/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.6.0/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  background-image: url("../images/background.png");
  color: white;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}

.btn-apply {
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.container {
  width: 900px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  box-shadow: 0 0 5px rgb(230, 230, 230);
  width: 200px;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  border: 2px solid rgb(230, 230, 230);
}

.card img {
  width: 150px;
}

.card p {
  opacity: .5;
}

.footer {
  text-align: center;
  background-color: #2c2b2b;
  padding: 50px;
}

.footer p {
  color: #6B6C6C;
}

.footer a {
  font-size: 30px;
  color: #1EDD88;
}
